.Solana {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SolanaTitle {
  color: #fff;
  font-size: 35px;
  margin-top: 24px;
}

.SolanaButtonContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.SolanaButton {
  margin-right: 16px;
}

.SolanaConnectedContainer {
  display: flex;
  flex-direction: column;
}

.SolanaAddress {
  color: #fff;
  font-size: 17px;
  padding: 10px 0;
}

.SolanaAddressHeader {
  color: #fff;
  font-size: 17px;
  margin-top: 14px;
}

.SolanaDisconnect {
  margin-bottom: 18px;
}

.SolanaSignButton {
  margin-top: 18px;
}
