* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima Nova";
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #28022f;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima\ Nova\ Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Proxima\ Nova\ Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
