.Button {
  background: linear-gradient(272.86deg, #850277 1.66%, #630a92 51.94%);
  color: #fff;
  outline-width: 0;
  border: none;
  padding: 0.7em 0.8em 0.6em;
  font-weight: 700;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
}
